{% extends 'base.html' %}

{% block title %}All Post Details{% endblock %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'posts/css/pagination.css' %}">

{% endblock %}

{% block content %}

     <!-- {% if posts %}
        {% for post in posts %}
            <div class="post">
                <h2>{{ post.title }}</h2>
                <p>{{ post.content }}</p>
            </div>
        {% endfor %}
    {% else %}
        <h1> No posts available</h1>
    {% endif %}-->

    {% for post in posts %}
        <div class="post">
            <h2>{{ post.id }}. {{ post.post_title|upper }}</h2>
            <p>{{ post.post_content|truncatewords:5 }} (<a href="{% url 'posturl' post.id %}">More</a>)</p>
        </div>
    {% empty %}
        <h1>No Posts Available</h1>
    {% endfor %}
    
    {% include 'partials/paginator.html' %}
{% endblock %}