# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/

# Env files
.env
.env.*

# Django
db.sqlite3
staticfiles/

# Git
.git
.gitignore

# Docker
docker-compose.yml

# Logs
*.log

# OS files
.DS_Store

# Images (you had these)
*.png
*.jpg